<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>
  <div class="container">
    <h1>Bienvenido, {{ user[1] }}</h1>
    <div class="details">
      <h2>Detalles generales</h2>
      <p><strong>DNI:</strong> {{ user[0] }}</p>
      <p><strong>Nombre Completo:</strong> {{ user[1] }} {{ user[2] }}</p>
      <p><strong>Fecha de Nacimiento:</strong> {{ user[3] }}</p>
      <p><strong>Edad:</strong> {{ edad }}</p> <!-- Nueva línea -->
      <p><strong>Dirección:</strong> {{ user[-2] }}</p>
      <p><strong>Teléfono:</strong> {{ user[-1] }}</p>
    </div>
    <div class="specific-details">
      <h2>Detalles específicos</h2>
      {% if user[4] == 'Jugador' %}
        <p><strong>Número de Socio:</strong> {{ user[5] }}</p>
        <p><strong>Categoria:</strong> {{ user[7] }}</p>
        <p><strong>URL Foto:</strong> <a href="{{ user[6] }}" target="_blank">Ver Foto</a></p>
      {% elif user[4] == 'DirectorTecnico' %}
        <p><strong>Experiencia:</strong> {{ user[8] }}</p>
        <button id="crearEquipoBtn">Crear Equipo</button>
    <div id="crearEquipoForm" style="display: none;">
      <h3>Formulario de Creación de Equipo</h3>
      <form method="POST" action="/crear_equipo">
        <input type="hidden" name="dni_director" value="{{ user[0] }}">
        <div>
          <label for="nombreEquipo">Nombre del Equipo:</label>
          <input type="text" id="nombreEquipo" name="nombreEquipo" required>
        </div>
        <div>
          <label for="categoria">Categoría:</label>
          <select id="categoria" name="categoria" required>
            {% for cat in categorias %}
              <option value="{{ cat.id }}">{{ cat.nombre }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="division">División:</label>
          <select id="division" name="division" required>
            {% for div in divisiones %}
              <option value="{{ div.codigoDiv }}">{{ div.nombreDivision }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit">Crear</button>
      </form>
    </div>
    <div>
      {% if equipo %}
        <p><strong>Equipo Asociado:</strong> {{ equipo[1] }}</p>
        <button id="inscribirEquipoBtn">Inscribir Equipo a Torneo</button>
        <div id="inscribirEquipoForm" style="display: none;">
          <form method="POST" action="/inscribir_equipo">
            <input type="hidden" name="equipo" value="{{ equipo[0] }}">
            <div>
              <label for="torneo">Seleccionar Torneo:</label>
              <select id="torneo" name="torneo" required>
                {% for torneo in torneos %}
                  <option value="{{ torneo.id }}">{{ torneo.nombre }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit">Inscribir</button>
          </form>
        </div>
      {% else %}
        <p>No tienes un equipo asociado. Crea un equipo para poder inscribirlo a un torneo.</p>
      {% endif %}
    </div>
      {% elif user[4] == 'Encargado' %}
        <p><strong>Años de Experiencia:</strong> {{ user[10] }}</p>
        <button id="crearTorneoBtn">Crear Torneo</button>
        <div id="crearTorneoForm" style="display: none;">
          <form method="POST" action="/crear_torneo">
            <input type="hidden" name="dni_encargado" value="{{ user[0] }}">
            <div>
              <label for="nombreTorneo">Nombre del Torneo:</label>
              <input type="text" id="nombreTorneo" name="nombre_torneo" required>
            </div>
            <div>
              <label for="fechaInicio">Fecha de Inicio:</label>
              <input type="datetime-local" id="fechaInicio" name="fecha_inicio" required>
            </div>
            <div>
              <label for="fechaFin">Fecha de Fin:</label>
              <input type="datetime-local" id="fechaFin" name="fecha_fin" required>
            </div>
            <div>
              <label for="inscripcionInicio">Inicio de Inscripción:</label>
              <input type="datetime-local" id="inscripcionInicio" name="inscripcion_inicio" required>
            </div>
            <div>
              <label for="inscripcionFin">Fin de Inscripción:</label>
              <input type="datetime-local" id="inscripcionFin" name="inscripcion_fin" required>
            </div>
            <button type="submit">Habilitar Torneo</button>
          </form>
        </div>
      {% elif user[4] == 'Arbitro' %}
        <p><strong>Nivel de Experiencia:</strong> {{ user[11] }}</p>
        <p><strong>Tiene Certificación:</strong> {{ "Sí" if user[12] else "No" }}</p>
      {% endif %}
    </div>
  </div>

  <script>
    document.getElementById('crearEquipoBtn').addEventListener('click', function () {
      const form = document.getElementById('crearEquipoForm');
      form.style.display = form.style.display === 'none' ? 'block' : 'none';
    });


    document.querySelector('#crearEquipoForm form').addEventListener('submit', function (event) {
    event.preventDefault(); // Evitar recarga de página

    const form = event.target;
    const formData = new FormData(form);

    fetch('/crear_equipo', {
        method: 'POST',
        body: formData,
    })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error); // Mostrar error si ya tiene un equipo
            } else {
                alert('Equipo creado exitosamente');
                window.location.reload(); // Recargar página para reflejar cambios
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Ocurrió un error al intentar crear el equipo');
        });
});

  </script>

  <script>
    document.getElementById('crearTorneoBtn').addEventListener('click', function () {
      const form = document.getElementById('crearTorneoForm');
      form.style.display = form.style.display === 'none' ? 'block' : 'none';
    });
  </script>
    
    <script>
      document.getElementById('inscribirEquipoBtn').addEventListener('click', function () {
        const form = document.getElementById('inscribirEquipoForm');
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
      });
      </script>

      <script>
        document.querySelector('#crearTorneoForm form').addEventListener('submit', function (event) {
            event.preventDefault(); // Evitar recarga de página
    
            const form = event.target;
            const formData = new FormData(form);
    
            fetch('/crear_torneo', {
                method: 'POST',
                body: formData,
            })
                .then(response => response.text()) // Convertimos la respuesta a texto
                .then(data => {
                    if (data.includes('exitosamente')) {
                        alert('Torneo creado exitosamente');
                        window.location.reload(); // Recargar página para reflejar cambios
                    } else {
                        alert(`Error al crear el torneo: ${data}`);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Ocurrió un error al intentar crear el torneo');
                });
        });
    </script>

    <script>
      document.querySelector('#inscribirEquipoForm form').addEventListener('submit', function (event) {
        event.preventDefault(); // Evitar recarga de página
    
        const form = event.target;
        const formData = new FormData(form);
    
        fetch('/inscribir_equipo', {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Mostrar alerta de éxito
                    alert(data.success);
                    window.location.reload(); // Recargar página para reflejar cambios
                } else if (data.error) {
                    // Mostrar alerta de error
                    alert(`Error: ${data.error}`);
                } else {
                    // Si no se recibe ni éxito ni error
                    alert('Ocurrió un error inesperado. Inténtalo nuevamente.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Ocurrió un error al intentar inscribir el equipo');
            });
    });
  </script>
  
</body>
</html>
